
.info_secondary-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.languaje_button {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
}