
.info_secondary-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.languaje_link{
    border: none;
    display: block;
    cursor: pointer;
    position: fixed;
    text-decoration: none;
    right: 10px;
    top: 10px;
}
